@{
    ViewBag.Title = "Contact";
}

<div class="d-flex">
    <div class="m-auto">
        <h2 class="display-3">@ViewBag.Title.</h2>
        <form action="/Home/About" method="post">
            <div class="form-group">
                <label>Name</label>
                <input id="name" class="form-control" type="text" name="name" required autofocus="autofocus" placeholder="First Name" />
            </div>
            <div class="form-group">
                <label >Email address</label>
                <input id="email" class="form-control" type="email" name="email" required autofocus="autofocus" placeholder="Email" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Phone</label>
                <input id="phone" class="form-control" type="text" name="phone" required autofocus="autofocus" pattern="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$" placeholder="Phone" />

            </div>
            <div class="form-group">
                <label>Email address</label>
                <textarea name="query" class="form-control" placeholder="Sum tex"></textarea>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Submit" class="btn-success " />
            </div>
        </form>
    </div>
</div>

<address>

</address>