@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron bg-cover">
    <div class="overlay"></div>

    <h1 class="display-4 text-white">Rotten Reviews</h1>
    <h3 class="lead text-white my-2">Rating the worst of the worst</h3>
    
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started1</h2>
        <p>
            Pick a restaurant and enjoy the agony that's about to come your way.
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started2</h2>
        <p>
            Pick a restaurant and enjoy the agony that's about to come your way.
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started3</h2>
        <p>
            Pick a restaurant and enjoy the agony that's about to come your way.
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>